@model SimpleETicketPlatform.Core.Models.Cinemas.CinemaFormViewModel
@{
	ViewData["Title"] = "Add new cinemas here:";
}
<div class="add-cinema-container">
	<h3>@ViewBag.Title</h3>
	<form class="post-form" method="post">
		<div class="form-member text-center">
			<img id="ProfilePicturePreview" />
		</div>
		<div class="form-member">
			<label asp-for="Logo">Logo URL</label>
			<input asp-for="Logo" class="form-control" placeholder="URL..." />
			<span asp-validation-for="Logo" class="validation"></span>
		</div>
		<div class="form-member">
			<label asp-for="Name">Name</label>
			<input asp-for="Name" class="form-control" placeholder="Name..." />
			<span asp-validation-for="Name" class="validation"></span>
		</div>
		<div class="form-member">
			<label asp-for="Description">Description</label>
			<input asp-for="Description" class="form-control" placeholder="Description..." />
			<span asp-validation-for="Description" class="validation"></span>
		</div>
		<div class="action-buttons">
			<form asp-action="Index" asp-controller="Cinemas" method="get">
				<button type="submit" class="btn">See All</button>
			</form>
			<form asp-action="Add" asp-controller="Cinemas" asp-route-id="@Model.Id" method="post">
				<button type="submit" class="btn">Submit</button>
			</form>
		</div>
	</form>
</div>
@section Scripts {
	<script>
		$(document).ready(function () {
			var output = document.getElementById('ProfilePicturePreview');
			output.src = $("#Logo").val();
		});

		$("#Logo").on("change", function () {
			var output = document.getElementById('ProfilePicturePreview');
			output.src = $(this).val();
		});
	</script>
}
