@model SimpleETicketPlatform.Core.Models.Cinemas.CinemaIndexViewModel

<div class="delete-container">
	<h2>Are you sure you want to delete cinema with: </h2>
	<h2><b>Name:</b>@Model.Name and <b>Id: </b>@Model.Id</h2>
	<div class="action-buttons">
		<form asp-action="Index" asp-controller="Cinemas" method="get">
			<button type="submit" class="btn">Return</button>
		</form>
		<form asp-action="DeleteConfirmed" asp-controller="Cinemas" asp-route-id="@Model.Id" method="post">
			<button type="submit" class="btn">Submit</button>
		</form>
	</div>
</div>
