@model string
<div class="add-btn">
	<form asp-controller="@Model" asp-action="Add" method="get">
        <button type="submit" class="btn-add">
            Add new<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>
        </button>
	</form>
</div>
<style>
    .add-btn {
        position: fixed;
        bottom: 120px;
        right: 400px;
        z-index: 101;
    }

    .btn-add {
        background-color: limegreen;
        border-color: limegreen;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        padding: 8px 15px;
        position: fixed;
        z-index: 101;
    }
    svg{
        height:20px;
    }

        .btn-add:hover {
            background-color: greenyellow;
            border-color: greenyellow;
        }
</style>