@using SimpleETicketPlatform.Core.Models.Cart
@using SimpleETicketPlatform.Core.Models.Movies
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleETicketPlatform</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMhyC1og4VfnD/bn4psvF6pU6tX/96JBrW3a0i" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimpleETicketPlatform.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="menu">
            <div class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="darkred" class="bi bi-camera-reels-fill" viewBox="0 0 16 16">
                    <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                    <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z" />
                </svg>
                <h3 class="logo-link" href="#"><b>E-Ticketz</b></h3>
            </div>
            <div class="left-elements">
                <a class="menu-item" asp-action="Index" asp-controller="Movies"><b>Movies</b></a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle management-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Management</b>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Index" asp-controller="Cinemas"><b>Cinemas</b></a>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Actors"><b>Actors</b></a>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Producers"><b>Producers</b></a>
                    </div>
                </div>
            </div>

                <div class="right-items">
                    <div class="search-engine">
                        @await Html.PartialAsync("_FilterMoviesPartial", new FilteredMoviesViewModel())
                    </div>
                    <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle account-button" type="button" id="dropdownMenuButtonAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Account</b>
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Index" asp-controller="Cinemas"><b>Admin</b></a>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Actors"><b>Normal</b></a>
                        </div>
                    </div>
                <div class="cart-dropdown">
                    <button class="cart-button" type="button" id="dropdownMenuButtonAccount"   >
                        <b>
                            Cart
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                            </svg>
                        </b>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <a asp-controller="ShoppingCart" asp-action="CartSummary" method="get"></a>
                    </div>
                </div>
                    
                </div>
          
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </header>
    <section class="home-section"></section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" asp-append-version="true"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
