
<div class="not-found-container">
	<div class="message">Unexpected problem ocurred. @TempData["Message"]</div>
	<form asp-action="Index" asp-controller="Actors">
		<btn typeof="submit" class="btn">See All Actors</btn>
	</form>
</div>