@model SimpleETicketPlatform.Core.Models.Actors.ActorIndexViewModel

<div class="delete-container">
	<h2>Are you sure you want to delete actor with: </h2>
	<h2><b>Name:</b>@Model.FullName and <b>Id: </b>@Model.Id</h2>
	<div class="action-buttons">
		<form asp-action="Index" asp-controller="Actors" method="get">
			<button type="submit" class="btn">Return</button>
		</form>
		<form asp-action="DeleteConfirmed" asp-controller="Actors" asp-route-id="@Model.Id" method="post">
			<button type="submit" class="btn">Submit</button>
		</form>
	</div>
</div>
