@model SimpleETicketPlatform.Core.Models.Actors.ActorIndexViewModel

<div class="delete-container">
	<h4>Are you sure you want to delete actor with: </h4>
	<h3><b>Name:</b>@Model.FullName</h3>
	<h3><b>Id: </b>@Model.Id</h3>
	<div class="action-buttons">
		<form asp-action="Index" asp-controller="Actors" method="get">
			<button type="submit" class="btn-return">Return</button>
		</form>
		<form asp-action="DeleteConfirmed" asp-controller="Actors" asp-route-id="@Model.Id" method="post">
			<button type="submit" class="btn">Submit</button>
		</form>
	</div>
</div>
<style>
	h4{
		padding: 20px 20px 20px 20px;
	}
	.delete-container {
		height: 300px;
		border: 10px solid darkred;
		border-radius: 5px;
		margin-top:15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}

	.btn {
		background-color: darkred;
		color: white;
		border: none;
		padding: 7px 14px;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

    .btn-return {
		background-color: forestgreen;
		color: white;
		border: none;
		padding: 7px 14px;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s ease;
    }

	.btn-return:hover {
		background-color: greenyellow;
		color: white;
		border: none;
		padding: 7px 14px;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

    .btn:hover {
		background-color: crimson;
	}

	.action-buttons {
		display: flex;
		gap: 50px;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 40%;
	}
</style>
