@model SimpleETicketPlatform.Core.Models.Actors.ActorFormViewModel
@{
    ViewData["Title"] = "Edit actor here:";
}
<div class="edit-actor-container">
    <h3>@ViewBag.Title</h3>
    <form asp-action="Edit" asp-controller="Actors" asp-route-id="@Model.Id" method="post">
        <div class="form-member text-center">
            <img id="ProfilePicturePreview" src="@Model.ProfilePictureURL" />
        </div>
        <div class="form-member">
            <label asp-for="ProfilePictureURL">Profile Picture URL</label>
            <input asp-for="ProfilePictureURL" class="form-control" placeholder="URL..." />
            <span asp-validation-for="ProfilePictureURL" class="validation"></span>
        </div>
        <div class="form-member">
            <label asp-for="FullName">Full Name</label>
            <input asp-for="FullName" class="form-control" placeholder="Full Name..." />
            <span asp-validation-for="FullName" class="validation"></span>
        </div>
        <div class="form-member">
            <label asp-for="Biography">Biography</label>
            <textarea asp-for="Biography" class="form-control" placeholder="Biography..." rows="4"></textarea>
            <span asp-validation-for="Biography" class="validation"></span>
        </div>
        <div class="action-buttons">
            <form asp-action="Index" asp-controller="Actors" method="get">
                <button type="submit" class="btn">See All</button>
            </form>
            <form asp-action="Edit" asp-controller="Actors" asp-route-id="@Model.Id" method="post">
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Function to update image preview
            function updatePreview(url) {
                $("#ProfilePicturePreview").attr("src", url);
            }

            // Initial preview update
            updatePreview($("#ProfilePictureURL").val());

            // Event listener for input change
            $("#ProfilePictureURL").on("input", function () {
                var url = $(this).val();
                updatePreview(url);
            });
        });
        @await Html.PartialAsync("_ValidationScriptsPartial")
    </script>
}

<style>
    .edit-actor-container {
        width: 800px;
        background-color: white;
        margin: auto;
        border: 2px solid darkred;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        margin-top: 5px;
    }

    h3 {
        color: darkred;
        margin-bottom: 20px;
    }

    .post-form {
        display: flex;
        flex-direction: column;
    }

    .form-member {
        margin-bottom: 20px;
        text-align: left;
    }

    .form-member label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        height: 30px;
        border: 1px solid darkred;
        border-radius: 3px;
        padding: 5px;
        box-sizing: border-box;
        width: 100%;
        max-width: 800px; 
    }

    textarea.form-control {
        height: auto; 
        resize: vertical; 
    }

    .validation {
        color: red;
    }

    .btn {
        background-color: darkred;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn:hover {
         background-color: #e91e63;
    }

    .action-buttons {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    #ProfilePicturePreview {
        max-width: 300px;
        height: auto;
        margin-top: 10px;
    }
</style>
